/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Sticky-footer */

html {
  height: 100%;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  color: #000;
  background-color: #fff;
}

.main-container {
  flex-grow: 1;
}

/* Hidden elements */

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

/* Images */

  img {
    max-width: 100%;
    height: auto; /* эти параметры нужны, чтобы картинки не теряли пропорции ни при каких обстоятельствах */
  }

  /* Align container */

  .page-container {
    width: 1060px;
    margin: 0 auto;
  }

  /* Navigation */

  .page-nav {
    display: flex;
    align-items: center;
    position: relative;
  }

  .logo {
    
    width: 139px;
    flex-shrink: 0;
    margin-right: 30px;
  }

  .logo img {
    display: block;
    position: absolute;
    top: 0;
  }

  .site-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    list-style: none;
  }

  .site-nav-item {
    padding: 5px;
  }

  .site-nav-link {
    display: block;
    position: relative;
    padding: 15px 12px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
  }

  .site-nav-link-current::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: rgb(117, 98, 87);
    bottom: -6px;
    right: 12px;
    left: 12px;
  }

  .user-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    list-style: none;
  }

  .user-nav-item + .user-nav-item {
    margin-left: 13px;
  }

  .user-nav-item:last-child {
    margin-left: 28px;
  }

  .user-nav-search {
    display: block;
    width: 19px;
    height: 19px;
    padding: 5px;
    background-image: url(/img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .user-nav-favorite {
    display: block;
    width: 19px;
    height: 17px;
    padding: 5px;
    background-image: url(/img/favorite.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .user-nav-button {
    display: block;
    padding: 9px 15px;
    width: 160px;
    text-align: center;
    border-radius: 3px;
    background-color: rgb(117, 97, 87);
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
  }

  .user-nav-button:hover,
  .user-nav-button:focus {
    background-color: rgb(97, 80, 72);
  }

  .user-nav-button:active {
    color: rgba(255, 255, 255, 0.3);
  }

  /* Main */

  /* Welcome */

  .welcome {
    padding-top: 51px;
    padding-bottom: 82px;
    background-image: url(/img/welcome-background.jpg);
    background-color: grey;
    background-repeat: no-repeat;
    background-size: 1200px 485px;
    background-position: center;
    box-sizing: border-box;
    text-align: center;
  }

  .welcome img {
    vertical-align: middle;
    height: 352px;
  }

  /* Advantages */

  .advantages {
    padding-top: 63px;
  }

  .advantages-title {
    margin: 0;
    margin-bottom: 31px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .advantages-description {
    margin: 0;
    margin-bottom: 90px;
    line-height: 26px;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }

  .advantages-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-item-first,
  .advantages-item-second {
    display: flex;
  }

  .advantages-item-second {
    flex-direction: row-reverse;
  }

  .advantages-item-text {
    width: 400px;
    box-sizing: border-box;
  }

  .advantages-text-first,
  .advantages-text-second {
    padding: 92px 85px;
    background-color: #82B3D3;
    color: #fff;
  }

  .advantages-text-third,
  .advantages-text-fourth,
  .advantages-text-fifth {
    padding: 102px 85px;
  }

  .advantages-text-third,
  .advantages-text-fifth {
    background-color: rgba(131, 179, 211, 0.12);
  }

  .advantages-text-fourth {
    background-color: rgba(131, 179, 211, 0.2);
  }

  .advantages-item-img {
    width: 800px;
    background-color: grey;
  }

  .advantages-item-img img {
    display: block;
  }

  .advantages-item-title {
    margin: 0;
    margin-bottom: 30px;
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

  }

  .advantages-item-number {
    margin: 0;
    margin-bottom: 30px;
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  .advantages-item-number::before,
  .advantages-item-number::after {
    content: "\2014";
  }

  .advantages-item-description {
    margin: 0;
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  .advantages-item-living,
  .advantages-item-food,
  .advantages-item-souvenir {
    display: flex;
    flex-direction: column;
    padding: 78px 85px;
  }

  .advantages-item-icon {
    order: -1;
  }

  .advantages-icon-living {
    height: 75px;
    margin-bottom: 30px;
    background-image: url(/img/icon-house.svg);
    background-repeat: no-repeat;
    background-size: 78px 75px;
    background-position: center;
  }

  .advantages-icon-food {
    height: 75px;
    margin-bottom: 30px;
    background-image: url(/img/icon-food.svg);
    background-repeat: no-repeat;
    background-size: 80px 75px;
    background-position: center;
  }

  .advantages-icon-souvenir {
    height: 75px;
    margin-bottom: 30px;
    background-image: url(/img/icon-souvenir.svg);
    background-repeat: no-repeat;
    background-size: 63px 75px;
    background-position: center;
  }

  .advantages-item-living,
  .advantages-item-souvenir {
    background-color: rgba(131, 179, 211, 0.12)
  }

  /* Search */

  .search {
    padding-top: 91px;
    padding-bottom: 93px;
  }

  .search-title {
    margin: 0;
    margin-bottom: 29px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .search-description {
    margin: 0;
    margin-bottom: 56px;
    line-height: 26px;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }

  .search-button {
    display: block;
    margin: 0 auto;
    padding: 12px 0;
    width: 575px;
    text-decoration: none;
    line-height: 36px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #756157;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
  }

.search-button:hover,
.search-button:focus {
  background-color: rgb(97, 80, 72);
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

  /* Footer */

.page-footer-wrapper {
  display: flex;
  align-items: center;
  height: 120px;
}

.footer-social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -15px;
  list-style: none;
}

.footer-social-item + .footer-social-item  {
  margin-left: 26px;
}

.footer-social-link {
  display: block;
  padding: 5px;
}

.footer-social-icon {
  vertical-align: middle;
  fill: rgb(131, 179, 211);
  transition: fill 0.3s;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: rgb(104, 162, 202);
}

.footer-social-link:active .footer-social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contact-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  margin-left: auto;
  color: inherit;
  transition: color 0.3s;
}

.footer-contact-phone:hover,
.footer-contact-phone:focus {
  color: rgb(117, 97, 87);
}

.footer-contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-htmlacademy {
  width: 115px;
  flex-shrink: 0;
  margin-left: auto;
  margin-top: -10px;
}

.logo-htmlacademy-img {
  display: block;
  fill: #000;
  transition: fill 0.3s;
}

.logo-htmlacademy:hover .logo-htmlacademy-img,
.logo-htmlacademy:focus .logo-htmlacademy-img {
  fill: rgb(117, 97, 87);
}

.logo-htmlacademy:active .logo-htmlacademy-img {
  fill: rgba(117, 97, 87, 0.3)
}